   
    body {
        font-family: 'Arial', sans-serif;
        margin: 0;
        padding: 0;
        line-height: 2;
        color:#003366;
        text-align: center;
      }
  
      .header {
        background: #f4f4f4;
        padding: 10px 20px; 
        text-align: left;
        display: flex;
        align-items: center; 
      }
      .header img {
        max-height: 60px;
        max-width: 100%;
        margin-right: 10px; /* Add space between logo and text */
      }
      .header h1 {
        margin: 0;
        font-size: 1.5em; 
      }
  
      .nav {
        display: flex;
        justify-content: space-around;
        background: #003366;
        color: #fff;
      }
      .nav a {
        color: #fff;
        text-decoration: none;
        padding: 15px 20px;
        display: inline-block;
      }
      .nav a:hover {
        background: #555;
      }   
      
          .about-section {
              padding: 20px;
              max-width: 1100px;
              margin: auto;
              text-align: center;
          }
          .about-img {
              max-width: 100%;
              height: auto;
          }
          .contact-info {
              margin-top: 20px;
          }
          section {
              padding: 40px;
              text-align: center;
          }
          section h2 {
              color: #003366;
              margin-bottom: 30px;
          }
  
          .doctor {
              margin: 20px;
              padding: 20px;
              border: 1px solid #ddd;
              border-radius: 10px;
              background-color: #fff;
              box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
              transition: transform 0.3s ease-in-out;
          }
  
          .doctor:hover {
              transform: scale(1.05);
          }
  
          .doctor img {
              max-width: 300px;
              height: auto;
              border-radius: 8%;
          }
  
          .doctor h3 {
              margin-top: 20px;
              color: #003366;
          }
  
          .doctor p {
              margin-top: 10px;
              color: #555;
          }